grade_array = [];
<% @assignment.assignment_grades.each do |grade| %>
  grade_array.unshift('<%= grade.id %>');
<% end %>

oTable.fnDestroy();
$('datatable').show();
$('.datatable').width(function(index, value){
  return value + 100;
})
$("<th width='100' class='sorting' align='center'><%= @assignment.name %></th>").insertAfter('thead th:last');
$('.datatable tbody tr').each(function(index, value){
  $(this).append("<td point-value='" + <%= @assignment.point_value %> + "align='center' id=" + grade_array.pop() + ">-</td>");
});
initTable(<%= @assignment.assignment_grades.count %>);