destroy_table();

created_assignment = new_assignment("<%= @assignment.id %>", <%= @assignment.point_value %>);
assignments_array.push(created_assignment);

$('.datatable').width(function(index, value){
  console.log(assignments_array.length * 150);
  return assignments_array.length * 150;
});
//this is incredibly ghetto...we'll have to read to find where this damn thing is placed

var header_html = "<th class='assignment_header' align='left' id=<%=@assignment.id%>>";
header_html += "<span class='ui-icon-info hover_button' float='right' title='info'></span>";
header_html += "<p class='assignment-name' display='inline' padding='0'>" + "<%=@assignment.name%>" + "</p></th>"

$(header_html).insertAfter($('.header_row th:last'));

var student_count=0;

$(".datatable .row_entry").each(function(index, value){
  $(this).append("<td align='center' width='150'></td>");
  student_count++;
});


initTable(student_count);


if(assignments_array.length == 1)
  $('.dataTables_scroll .datatable').attr('style', "");
init_headers();

