<% broadcast "/gradebook/#{@string}" do %>

destroy_table();

$('.datatable').width(function(index, value){
  return value + 150;
})
//this is incredibly ghetto...we'll have to read to find where this damn thing is placed
$('.dataTables_scroll').attr('style', "");
$("<th width='150' class='sorting' align='left'><%=@assignment.name%></th>").insertAfter('thead th:last');
$('.datatable tbody tr').each(function(index, value){
  $(this).append("<td points=" + <%= @assignment.point_value %> + " align='center'  width='150'></td>");
});
$('tbody').attr('cols', function(i, val){
  return parseInt(val) + 1;
});
initTable(<%= @assignment.grades.count %>);

<% end %>