:javascript
  $(document).ready(function() {
    $('#assignment_date_due').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#edit_assignment').bind('submit', function(){
      $.post('/assignments/update.js', $(this).serialize(), null, "script");
      closeBox();
      return false;
    });

    $('#delete_assignment').bind('click', function(){
      $.post('/assignments/#{@assignment.id}', { _method: 'delete'}, null, "script");
      closeBox();
      return false;
    });

    $("#submit_edit_assignment").click(function(){
      $("#edit_assignment").submit();
    });

  }); 

%div{:class => "overview-info fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix"}="Edit Assignment"
%br
=form_for @assignment, :remote => true, :html => {:method => :post, :id => "edit_assignment"} do |f|
  =f.hidden_field :id, :value => params[:assignment_id] 
  =f.hidden_field :course_id, :value => params[:course_id]
  %div{:class => "field"}
    =f.label :name
    %br
    =f.text_field :name, :value => @assignment.name
  %div{:class => "field"}
    =f.label :assignment_type_id, "Assignment Type"
    %br
    =collection_select(:assignment, :assignment_type, @types, :id, :name, {:selected => @assignment.assignment_type.id});
  %div{:class => "field"}
    =f.label :point_value, "Point Value"
    =f.text_field :point_value, :value => @assignment.point_value
    =f.label :date_due, "Date Due"
    =f.text_field :date_due, :value => @assignment.date_due
  %div{:class => "new_assignment_buttons"}
    %button{:type => "button", :class => "button", :id => "submit_edit_assignment"}="Submit"
    =close_openBox_button
    %button{:id => "delete_assignment", :class => "button", :value => "Delete Assignment"}="Delete"