:javascript
  $(document).ready(function() {
    $('#assignment_date_due').datepicker({ dateFormat: 'yy-mm-dd' });
    $('.new_assignment').bind('submit', function(){
      $.post($(this).attr("action") + '.js', $(this).serialize(), null, "script");
      closeBox();
      return false;
    });

    $("#submit_new_assignment").click(function(){
      $(".new_assignment").submit();
    });
  }); 

%div{:class => "scale-header overview-info fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix"}="New Assignment"
%br
=form_for @assignment, :html => {:id => "new_assignment"} do |f|
  =f.hidden_field :course_id, :value => params[:course_id]
  %div{:class => "field"}
    =f.label :name
    %br
    =f.text_field :name
  %div{:class => "field"}
    =f.label :assignment_type_id, "Assignment Type"
    %br
    =collection_select(:assignment, :assignment_type, @types, :id, :name, {});
  %div{:class => "field", :style => "margin-top:10px;"}
    =f.label :point_value, "Point Value: "
    =f.text_field :point_value
  %div{:class => "field", :style => "margin-top:10px;"}
    =f.label :date_due, "Date Due"
    =f.text_field :date_due 
  %div{:class => "new_assignment_buttons"}
    %button{:type => "button", :class => "button", :id => "submit_new_assignment"}="Submit"
    =close_openBox_button
    