:javascript
  $(document).ready(function() {
    $('#new_assignment').bind('submit', function(){
    $.post($(this).attr("action") + '.js', $(this).serialize(), null, "script");
    closeBox();
    return false;
    });

  }); 

=form_for @assignment, :html => {:id => "new_assignment"} do |f|
  =f.hidden_field :course_id, :value => params[:course_id]
  %div{:class => "field"}
    =f.label :name
    =f.text_field :name
  %div{:class => "field"}
    =f.label :type
    =options_from_collection_for_select(@types, :id, :name)
    =collection_select(:type, :assignment_type_id, @types, :id, :name)
  %div{:class => "field"}
    =f.label :description
    =f.text_area :description
  %div{:class => "field"}
    =f.label :point_value
    =f.text_field :point_value
  %div{:class => "field"}
    =f.label :date_due
    =f.text_field :date_due
  %div{:class => "button"}
    =f.submit "Submit"
    =close_openBox_input
    