:javascript
  $(document).ready(function(){
    $("#edit_assignment").click(function(){
      openBox("#{id_to_link}", 350);
    });

    $("#visualize").click(function(){
      openBox("/gradebooks/assignments/#{@assignment.id}/report", 350);
    });

  });
=@assignment.name
%br
=@assignment.assignment_type.name
%br
-unless @assignment.average == "no_grades"
  ="Average: " + @assignment.average.to_s
%br
%button{:id => "edit_assignment"}="Edit"
%button{:id => "visualize"}="Visual"