<h1>Listing grades</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grades.each do |grade| %>
  <tr>
    <td><%= link_to 'Show', assignment_grade %></td>
    <td><%= link_to 'Edit', edit_assignment_grade_path(grade) %></td>
    <td><%= link_to 'Destroy', assignment_grade, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade', new_assignment_grade_path %>
