%div{:class => "assignment_type"}
  =f.text_field :name, {:size => "30"}
  =f.text_field :weight, {:size => "3", :maxlength => "2", :float => "right", :class => "weight_percent_field"}
  =f.hidden_field :_destroy, {:class => "type_destroy_field", :id => "type_destroy_field"}
  =f.hidden_field :course_id, {:class => "type_course_id"}
  %span{:class => "remove_button button"}=button_to_function "X", "remove_fields(this, 'assignment_type')"