%table{:id => "gradebook_display", :class=> "datatable", :width => "#{@assignments.count * 150}px"}
  %thead
    %tr{:class => "header_row"}
      %th{:width => 110, :class => "first-name"} First Name
      %th{:width => 110, :class => "last-name"} Last Name
      %th{:width => 100, :class => "grade-column"} Grade
      %span{:id => "assignment_names"}
        -@assignments.each do |assignment|
          %th{:class => "assignment_header", :value => assignment.point_value, :id => "#{assignment.id}", :align => "left"}
            %span{:class => "ui-icon-info hover_button", :float => "right", :title => "info"}
            %p{:class => "assignment-name", :padding => 0, :display => "inline"}=assignment.name
  %tbody{:grading_scale => GradebooksController::DEFAULT_SCALE.to_json, :assignment_data => (@assignments.to_json :only => [:_id, :assignment_type_id]), :students => (students_to_attr(@students))}
    -i=0
    -@students.each do |student|
      -if student.is_student?
        -id_string = student.id.to_s
        %tr{:class => "row_entry", :id => "#{student.id}", :num => i}
          %td{:width => 110}=student.first_name.capitalize
          %td{:width => 110}=student.last_name.capitalize
          -if @settings.grade_scale.scale_type == "manual"
            %td{:width => 100, :class => "grade", :align => "center"}=@settings.grade_scale.manual_grades[student.id.to_s]
          -else
            %td{:width => 100, :class => "grade", :align => "center"}="" 
          -@assignments.each do |assignment|
            -if current_assignment = assignment.grades[id_string]
              -if assignment.grades[id_string][0].is_a?(Numeric)
                %td{:align => "center", :class => "grade_entry", :score => assignment.grades[id_string][0]}=number_to_percentage((assignment.grades[id_string][0].to_f / assignment.point_value) * 100, :precision => 2, :strip_insignificant_zeros => true)
              -else
                -if assignment.grades[id_string][0] == :ungraded
                  -if assignment.grades[id_string][1] == :nocomment
                    %td{:align => "center", :class => "grade_entry"}=""
                  -else
                    %td{:align => "center", :class => "grade_entry", :comment => assignment.grades[id_string][1]}=""
                -else
                  -if assignment.grades[id_string][1] == :nocomment
                    %td{:align => "center", :class => "grade_entry"}=assignment.grades[id_string][0]
                  -else 
                    %td{:align => "center", :class => "grade_entry", :comment => assignment.grades[id_string][1]}=assignment.grades[id_string][0]
            -else
              %td{:align => "center", :class => "grade_entry"}=""
          -i += 1
