:javascript
  $(document).ready(function() {
      gradebook_init("#{@settings.grade_scale.scale_type}", "#{@settings.grade_scale.id}");
      initTable();

      teacher_gradebook();
      if(#{@students.count} > 0){
        regrade();
      }

      
  }); 

-if Rails.env.development?
  %br
  %br
  %br
  %br
  %br
  %br
  %br
%button{:type => "button", :class => "button", :id => "add_assignment_button"}="Add Assignment"
%button{:type => "button", :class => "button", :id => "edit_scale_button"}="Edit Scale"
%button{:type => "button", :class => "button", :id => "edit_weight_button"}="Edit Weighting"
%div{:id => "gradebook_div", :assignments => (@assignments.to_json :only => [:_id, :point_value, :assignment_type_id]), :types => @settings.assignment_types.to_json, :weight => @settings.weight_type, :ranges => (@settings.grade_scale.grade_ranges.asc(:from).to_json :except => [:_id]), :rangetype => @settings.grade_scale.scale_type, :course_id => @course.id}
  =render "students_table"
-if Rails.env.development?
  %div{:id => "dialogBox"}
  %div{:id => "clearbox"}
  %div{:id => "blackbox"}
%div{:class => "comment-tip"}
  %div{:id => "comment-box-text"}="Enter a comment"
  %textarea{:id => "comment-entry", :rows => 2, :cols => 17}
  %button{:id => "submit-comment"}="Submit"
%div{:class => "options-tip"}
  %div{:class => "options-button-div"}
    %button{:id => "ex_button", :class => "button"}="Excused" 
    %br
    %button{:id => "dr_button", :class => "button"}="Dropped"
    %br
    %button{:id => "in_button", :class => "button"}="Incomplete"
