-#columns = [{:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}]

-#-columns = html_columns(@assignments.count + 1)

-#=datatable(columns, {:sort_by => "[0, 'desc']", :ajax_source => "/gradebooks/#{@course.id}/table"})

:javascript
  $(document).ready(function(){
    $('.datatable').dataTable({
      "bProcessing": true,
      "bServerSide": true,
      "sAjaxSource": "/gradebooks/#{@course.id}/table"
    });
    });

%h1 #{@course.name}   
%table{:class=> "datatable", :cellpadding => 2, :cellspacing => 2}
  %thead
    %tr
      %th Name
      -@assignments.each do |assignment|
        %th{:width => 100}= assignment.name

  %tbody
            
