:javascript
  $(document).ready(function(){
    $('#example').dataTable();
  });
-columns = [{:type => 'html'}, {:type => 'html'}, {:type => 'html'}]

=datatable(columns, {:sort_by => "[0, 'desc']"})

%h1 #{@course.name}   
%table{:id => "example", :cellpadding => 2, :cellspacing => 2}
  %thead
    %tr
      %th Name
      -@assignments.each do |assignment|
        %th{:width => 100}= assignment.name

  %tbody
  -@students.each do |student|
    %tr
      -if @course.legacy?
        -if student.is_student?
          %td= student.last_name.capitalize + ", " + student.first_name.capitalize
          -@assignments.each do |assignment|
            %td= assignment.name
