:javascript
  $(document).ready(function(){
    //$(".no_scores").parents(".type_entry").remove();
    chart1 = student_grade_chart();
  });

-#will remove this later VVVV
=render "student_gradebook"
