:javascript
  $(document).ready(function(){
    assignment_type_validate($("input[checked=checked]")[0]);
  
    $('#submit_weight').click(function(){
      if(assignment_weight_validation()){
        $(".edit_gradebook_settings").submit();
        closeBox();
      }
    });

    $(".edit_gradebook_settings").bind('submit', function(){
      $.post('/gradebooks/settings/#{@settings.id}/weight', $(this).serialize(), null, "script");
      return false;
    });

    $("#weight_type").children().each(function(i,elem){
      $(elem).click(function(){
        $("#weight_type").children().each(function(i,elem){
          $(elem).removeClass("selected");
          $(elem).find("input[type=radio]").attr("checked",false)
        });
        $(this).addClass("selected");
        var radio = $(this).find("input[type=radio]");
        radio.attr("checked",true);
        assignment_type_validate(radio);
      });
    });
  });

%div{:class => "scale-header fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix"}= "Change Assignment Weight"
=form_for @settings, :remote => true, :url => "/settings/#{@settings.id}/weight", :html => {:method => "put"} do |f|
  %div{:id => "weight_type"}
    %div{:id => "equal_weight", :class => (@settings.weight_type == "equal_weight" ? "selected" : "")}
      =f.label :weight_type, "Equal Weight"
      =f.radio_button :weight_type, :equal_weight, :style => "display:none"
    %div{:id => "no_weight", :class => (@settings.weight_type == "no_weight" ? "selected" : "")}
      =f.label :weight_type, "No Weight"
      =f.radio_button :weight_type, :no_weight, :style => "display:none"
    %div{:id => "manual_weight", :class => "last "+(@settings.weight_type == "manual_weight" ? "selected" : "")}
      =f.label :weight_type, "Manual Weight"
      =f.radio_button :weight_type, :manual_weight, :style => "display:none"
  %div{:id => "cert_alert", :style => "display:none"}
  %div{:id => "assignment_fields", :style => ""}
    %table{:class => "assignment_types"}
      =f.fields_for :assignment_types do |builder|
        =render "assignment_type_fields", :f => builder
  =link_to_add_fields "+ Add Type", f, :assignment_types, "assignment_type"
  %div{:id => "scale_submission", :class => "scale-footer fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix"}
    %button{:type => "button", :class => "button", :id => "submit_weight"}="Submit"
    =close_openBox_button