<%= form_for(@grade_scale) do |f| %>
  <% if @grade_scale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade_scale.errors.count, "error") %> prohibited this grade_scale from being saved:</h2>

      <ul>
      <% @grade_scale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
