%p{:class => "grade_detail_row"}
  =f.label :from
  =f.text_field :from, {:size => "1", :maxlength => "3"}
  =f.label :to
  =f.text_field :to, {:size => "1", :maxlength => "3"}
  =f.label "="
  =f.text_field :name, {:size => "2", :maxlength => "3"} 
  =f.hidden_field :_destroy, {:id => "range_destroy_field"}
  =button_to_function "Remove", "remove_fields(this)"
