%tr{:class => "grade_detail_row"}
  %td=f.text_field :from, {:size => "1", :maxlength => "3"}
  %td{ :class => "operator" }=f.label :to,"to"
  %td=f.text_field :to, {:size => "1", :maxlength => "3"}
  %td{ :class => "operator" }=f.label "="
  %td=f.text_field :name, {:size => "2", :maxlength => "3"} 
  =f.hidden_field :_destroy, {:id => "range_destroy_field"}
  %td{ :class => "remove_button" }=button_to_function "X", "remove_fields(this)"
